body, #titlebar, #sidebar, #contentPane, div.margin, div.visual, div.header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 0px;
  margin: 0px;
  font-size: 0.85em;
  
}

.ui-g {
    background-color: #ededed;
    text-align: center;
    border: 1px solid #fafafa;
    width: 100%;
}



body, div.margin {
  margin: 3px;
}

#titlebar {
  height: 4.0em;
  bottom: auto;
  text-align: center;
}

#titlebar div.visual {
  background: #dddddd;
  border: 1px solid darkgray;
}

#titlebar div.header {
  font-size: 1.4em;
  font-style: italic;
  font-family: Palatino;
  margin: auto;
  height: 1.0em;
  line-height: 1.0em;
  text-align: center;
}

#sidebar {
  top: 4.0em;
  width: 220px;
  right: auto;
}

#sidebar div.visual {
  padding: 5px;
  border: thin solid lightgray;
  background: #eeeeee;
  overflow: auto;
}

#contentPane {
  top: 4.0em;
  left: 220px;
  width: auto;
}

#contentPane div.visual {
  padding: 0.5em;
  border: thin solid lightgray;
  background: #fefeef;
}

.planetImage {
  padding: 5px;
  text-align: center;
  border: thin solid #eeeeee;
}

.planetImageSelected {
  padding: 5px;
  text-align: center;
  background: #fefeef;
  border: thin solid lightGray;
}

.planetLabel {
  padding-bottom: 1.0em;
  text-align: center;
  font-weight: bold;
}

.welcome {
  font-style: italic;
  font-family: Palatino;
}

.welcomeImage {
  margin-top: 10px;
  text-align: center;
}