body, #titlebar, #sidebar, #contentPane, div.margin, div.visual, div.header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 0px;
  margin: 0px;
  font-size: 0.85em;
  
}

.panelStyle, .ui-panel .ui-panel-content {
         background: #272A2D;
         color: #4277AD;
         font-weight: bold;
         border-style: none;
}

.ui-panel {width: auto !important;}

.ui-g {
    background-color: #ededed;
    text-align: center;
    border: 1px solid #fafafa;
    width: 100%;
}



body, div.margin {
  margin: 3px;
}

#titlebar {
  height: 4.0em;
  bottom: auto;
  text-align: center;
}

#titlebar div.visual {
  background: #dddddd;
  border: 1px solid darkgray;
}

#titlebar div.header {
  font-size: 1.4em;
  font-style: italic;
  font-family: Palatino;
  margin: auto;
  height: 1.0em;
  line-height: 1.0em;
  text-align: center;
}
